@media (min-width: 576px) {

}

/* Medium and up (Tablets) */
@media (min-width: 768px) {

}

/* Large and up (Desktops) */
@media (min-width: 992px) {

}

/* Extra Large and up (Wide Screen Desktops) */
@media (min-width: 1200px) {

}




header {
background-color: rgb(185, 199, 234);
border: .5px solid black;
text-align: center;
}

body{
    text-align: center;
}

section {
    /* border: 2px solid blue; */
    background-color: rgb(185, 199, 234);
    margin: 50px;
    display: grid;
    grid-template-columns: 33% 34% 33%;
}

footer {
    background-color: rgb(185, 199, 234);
    border: .5px solid black;
    margin: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}
article{
    background-color: rgb(185, 199, 234);
    border: 0px solid black;
    text-align: center;
}

.image{
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

hr {
    margin: 80px;
    background-color: rgb(185, 199, 234);
    top: -20px;
}

hr:after {
    content: 'EDUCATION';
    height: 10px;
    padding: 0 5px;
}