@media (min-width: 576px) {

}

/* Medium and up (Tablets) */
@media (min-width: 768px) {

}

/* Large and up (Desktops) */
@media (min-width: 992px) {

}

/* Extra Large and up (Wide Screen Desktops) */
@media (min-width: 1200px) {

}
header{
    background-image: url("moon.jpeg");
    width: 850px;
    border: 1px solid black;
    height: 450px;
    margin-bottom: 20px;
    display: flex;

}

footer{
    width: 850px;
    border: 1px solid black;
    height: 324px;
    padding: 20px;
    display: flex;

}
article{
    border: 1px solid black;
    height: 300 px;
    width: 250 px;
    margin: 20px;

}

H1{
    font-style:bold;
    color: white;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 60pt;
}
div class footer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}